html {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: inherit;
}

body {
    background-color: #082B59;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 2;
  }
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
  }
  h1 {
    font-size: 2rem;
    margin: 0;
  }
  /* make images flexible */
  img {
    max-width: 100%;
  }
  a {
    color: #59331d;
  }
  a:hover {
    text-decoration: none;
  }
  header {
    border-bottom: 10px solid #d98555;
  }
  /* navbar styling */
  nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  nav li {
    margin: 0 1rem 2rem 1rem;
    font-size: 1.3rem;
  }
  /* max width on the image in pixels */
  nav .logo img {
    max-width: 150px;
  }
  /* flex basis on the image container, li */
  nav .logo {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: auto;
  }
  nav a {
    color: white;
    text-decoration: none;
    display: block;
  }
  nav a:hover {
    color: #d98555;
  }
  /* establishes a white background */
  .main-bkgd {
    background: #ffffff url(../media/images/gulp-bottom-beans.jpg) repeat-x bottom;
    padding-bottom: 200px;
  }
  /* sits inside of the white background, centered */
  .main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: block;

  }

  picture {
    margin: 3rem 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
  }

  picture img{ 
    width: 100%;
    border-radius: 10px;
  }

  figcaption { 
    display: none;
  }

  .button {
    display: inline-block;
    background-color: #59331D;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0;
    color: #f2f2f2;
    text-decoration: none;
    border: 3px solid #59331d;
  }
  .button:hover {
    background-color: #f2f2f2;
    color: #59331d;
  }
  footer {
    color: #f2f2f2;
    text-align: center;
    border-top: 10px solid #d98555;
  }
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  footer a {
    color: #f2f2f2;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
  }
  
  @media (min-width: 770px) {

    nav ul {
      display: flex;
      flex-flow: row wrap;
    }
    nav .logo {
      margin-bottom: auto;
    }
    article {
      flex-basis: 73%;
    }

    .main {
      max-width: 1200px;
      margin: 0 auto;
      padding: 2rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  
    picture {
      margin: auto;
      flex-basis: 25%;
      border-radius: 10px;
    }

    .main-bkgd {
      padding-bottom: 300px;
  }
}

  @media (min-width: 990px){
    article {
    flex-basis: 49%;
    }

    picture {
    margin: 3rem auto auto;
    flex-basis: 49%;
    border-radius: 10px;
    }
  }

  h1 {
    color: #ffffff;
  }